
body {
    background-color: #efefef;
    height: 100%;
    margin : 0px;
    padding : 0px;
    font-size: 11pt;
    font-family: Calibri, Arial, Sans-serif;
}

#main {
    width: 100%;
    max-width:  1000px;
    min-height: 100%;
    background-color : #fefefe;
    position: absolute;
    color : #404040;
    border : 1px solid #dedede;
    top : 65px;
    z-index: 9999;
}

#main:after {
    display : block;
    position : absolute;
    content :'';
    top : -5px;
    left: -5px;
    right: -5px;
    bottom : -5px;
    border:5px solid #404040;
    border-radius : 7px;
    -moz-border-radius : 7px;
    -webkit-border-radius : 7px;
    opacity:0.5;
    z-index: -1;
}

@media screen and (min-width:800px) {

    #main {
        left: 50%;
        margin-left: -500px;
    }

    #plus {
        width : 25.61%;
        margin-left : 0px;
    }

    #logo {
        top : -10px !important;
        left : -45px !important;
        -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
    transform: rotate(-25deg);
    }

}


#plus {
    background-color: #404040;
    height: 100%;
    position: absolute;
    right: 0px;
    border-left: 1px solid #dedede;
    color : #fefefe;
    border-radius : 0px 2px 2px 0px;
    -moz-border-radius : 0px 2px 2px 0px;
    -webkit-border-radius : 0px 2px 2px 0px;
    overflow: hidden;
}

#plus > h2 {
    background: rgb(10, 131, 189);
    color : #efefef;
    margin : 0px;
    padding : 10px;
    font-weight : normal;
    font-size: 1.1em;
}

#plus ul,
#plus ul > li {
    list-style: none;
    margin: 0px;
    padding : 0px;
    border-bottom : 1px solid #4f4f4f;
    border-top : 1px solid #4e4e4e;
}

#plus ul > li {
    padding: 1em;
    text-align:left;
}

#plus ul > li > label {
    font-weight : bold;
    display: block;
}

#plus ul > li > iframe {
    float: right;
}

#plus a {
    color: rgb(78, 175, 252);
}

#header {
    position : relative;
    border-bottom : 1px solid rgb(167, 164, 164);
    min-height: 200px;
}

#logo { 
    width: 164px;
    top : -60px;
    left : 5px;
    position :absolute;
    z-index: 99999;
}

#logo:after {
    content: '';
    position:absolute;
    display: block;
    left : -3px;
    top: -3px;
    right : -3px;
    bottom : -3px;
    border : 3px solid rgb(150, 169, 189);
    border-radius : 7px;
    -moz-border-radius : 7px;
    z-index: -1;
}

#logo > img {
        border-radius : 5px;
    -moz-border-radius :5px;
}

#announcer {
    color : #fefefe;
    font-size : 1.3em;
    position : absolute;
    z-index : 1;
    left : 0px;
    bottom : 1.5em;
    padding : 1em;
}

#announcer:after {
    display : block;
    position : absolute;
    content :'';
    top : 0px;
    left: 0px;
    right: 0px;
    bottom : 0px;
    border-radius : 0px 10px 10px 0px;
    -moz-border-radius : 0px 10px 10px 0px;
    -webkit-border-radius : 0px 10px 10px 0px;
    opacity:0.8;
    background-color: #101010;
    z-index : -1;
}

.text {
    padding:20px; 
    text-align:justify;
}

.text > h2 {
    text-transform: uppercase;
    color : rgb(143, 143, 143);
    font-size : 1.2em;
    font-weight : normal;
}

#twitter {
    font-size: 0.9em;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#twitter .tweet_list {
    position: absolute;
}

#twitter .tweet_text {
    display: block;
}

#twitter .tweet_time {
    float: right;
}

#twitter .tweet_time > a {
    color: #dedede;
}